## Functions
export(bcdist, distance, fixdmat)
export(mantel, mgroup, mgram, pmgram, MRM)
export(cor2m, corgen, crosstab, full, lower)
export(pco, nmds, nmds.min, min.nmds, vf, addord)
export(plot.vf, plot.mgram, plot.nmds, residuals.mgram)
export(xdistance, xmantel, xmgram)
## import for S3
import(stats, graphics)
## S3 methods
S3method(min, nmds)
S3method(plot, nmds)
S3method(plot, vf)
S3method(plot, mgram)
S3method(residuals, mgram)
## Compiled code
useDynLib(ecodist, .registration = TRUE)

